/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

.icon-card {
   color: #de6868;
}

.lightbg{
  background: lighten(#de6868,34%);
}

.icon-card:hover {
  color: darken(#de6868, 5%);
  background: lighten(#de6868,34%);
}

.link-no-dec:hover{
  text-decoration: none;
}
/*
.btn-primary{
	background: #de6868;
	border: darken(#de6868, 5%)
}
.btn-primary:hover{
	background: darken(#de6868, 5%);
	border: darken(#de6868, 5%)
}
.btn-primary:focus{
	background: darken(#de6868, 5%);
	border: darken(#de6868, 5%)
}
.btn-primary:active:{
	background: darken(#de6868, 5%);
	border: darken(#de6868, 5%)
}
a{
	color: #de6868;
}
a:hover{
	color: darken(#de6868, 5%);
	text-decoration: none;
}

$brand-color: #de6868;*/