
<p>Hi <%= @inquiry.user.name %>,</p>

<br>

<p>A realtor has replied to your inquiry. Please click <a href="<%= login_url %>">here</a> to login to HouseHunt to view the reply.</p>

<br>

<p>
  <span style="padding-left: 30px">
    <%= image_tag 'logo_bk.png', width: 50 %>
  </span>
  <br>
  Team HouseHunt
</p>
