<br><br><br><br>
<div style="height: 50px;background: #B00100;width: 100%;bottom: 0;content: '';display: block;">
  <div class="container">
    <div class="row">
      <table class="mx-auto" style="height: 50px;">
        <tbody>
        <tr>
          <td class="align-middle"><img src="<%= image_path 'logo.png' %>" height="30" class="d-inline-block align-top" alt=""></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>